.user-container {
    display: flex;
    align-items: center;
}

.user-button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.user-image {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between image and name */
}

.user-name {
    font-size: 16px; /* Adjust the font size as needed */
}

.name-box {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 4px;
}